@import '@fortawesome/fontawesome-svg-core';
@import '@fortawesome/free-solid-svg-icons';

@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Thin.ttf');
  }
  
  * {
    font-family: 'RobotoMono', monospace;
  }

body {
    display: flex;
    justify-content: center;
    text-align: center;
    
    color: #FFF;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(135, 0, 0), rgb(25, 10, 5)) repeat scroll 0% 0%;
}

input {
    font-size: 2em;
    margin-bottom: 30px;
}

.output {
    border: 1px solid #222;
    padding: 30px 15px;
    background-color: #0006;
}

footer{
  margin: 20px 0px;
  color: #fff;
  /* background-color: rgb(0, 0, 0); */
}